.let{
    color: blue ;
    font-family : verdana;
    font-size: 30px;
  }
  button{
    font-size : 20px;
    color: firebrick;
    background-color: green;
    border-radius: 50px;
    padding : 20px;
    text-transform : uppercase ;
    
  }